[package]
name = "aero-gpu-trace"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
path = "src/lib.rs"

[dependencies]

[dev-dependencies]
aero-protocol = { path = "../../emulator/protocol" }
aero-dxbc = { path = "../aero-dxbc", features = ["test-utils"] }
