[package]
name = "aero-d3d11"
version = "0.1.0"
edition = "2021"

[dependencies]
aero-gpu = { path = "../aero-gpu" }
anyhow = "1.0"
futures-intrusive = "0.5"
pollster = "0.3"
wgpu = "0.20"

[dev-dependencies]
bytemuck = { version = "1.14", features = ["derive"] }
