[workspace]
resolver = "2"
members = [
    "crates/aero-acpi",
    "crates/aero-gpu",
    "crates/aero-ipc",
    "crates/aero-bios",
    "crates/aero-net-e1000",
    "crates/aero-storage-server",
    "crates/aero-virtio",
    "crates/aero-webgpu",
    "crates/aero_cpu_core",
    "crates/aero-dxbc",
    "crates/devices",
    "crates/emulator",
    "crates/firmware",
    "crates/memory",
    "crates/platform",
    "crates/aero-devices-input",
    "server",
]
