[workspace]
resolver = "2"
members = [
    "crates/aero-acpi",
    "crates/aero-gpu",
    "crates/aero-gpu-trace",
    "crates/aero-emulator",
    "crates/aero-ipc",
    "crates/aero-bios",
    "crates/aero_jit",
    "crates/aero-net-e1000",
    "crates/aero-net-stack",
    "crates/aero-storage",
    "crates/aero-mem",
    "crates/aero-mmu",
    "crates/aero-storage-server",
    "crates/aero-virtio",
    "crates/aero-webgpu",
    "crates/aero_cpu_core",
    "crates/aero-dxbc",
    "crates/aero-d3d9",
    "crates/devices",
    "crates/emulator",
    "crates/firmware",
    "crates/memory",
    "crates/platform",
    "crates/aero-devices-input",
    "server",
    "crates/nt-packetlib",
    "tools/bcd_patch",
    "crates/virtio-gpu-proto",
    "backend/aero-gateway",
]

exclude = ["fuzz"]
