[package]
name = "aero-pc-platform"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
aero-audio = { path = "../aero-audio" }
aero-mmu = { path = "../aero-mmu" }
aero-cpu-core = { path = "../aero-cpu-core" }
aero-devices = { path = "../devices" }
aero-devices-storage = { path = "../aero-devices-storage" }
aero-interrupts = { path = "../aero-interrupts" }
aero-net-e1000 = { path = "../aero-net-e1000" }
aero-platform = { path = "../platform" }
aero-pc-constants = { path = "../aero-pc-constants" }
aero-storage = { path = "../aero-storage" }
firmware = { path = "../firmware" }
memory = { path = "../memory" }

[dev-dependencies]
aero-io-snapshot = { path = "../aero-io-snapshot" }
