[package]
name = "aero-pc-platform"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
aero-mmu = { path = "../aero-mmu" }
aero-cpu-core = { path = "../aero-cpu-core" }
aero-devices = { path = "../devices" }
aero-interrupts = { path = "../aero-interrupts" }
aero-platform = { path = "../platform" }
aero-pc-constants = { path = "../aero-pc-constants" }
memory = { path = "../memory" }
