[package]
name = "aero-pc-platform"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[features]
default = []
hda = ["dep:aero-audio"]

[dependencies]
aero-audio = { path = "../aero-audio", optional = true }
aero-mmu = { path = "../aero-mmu" }
aero-cpu-core = { path = "../aero-cpu-core" }
aero-devices = { path = "../devices" }
aero-devices-storage = { path = "../aero-devices-storage" }
aero-devices-nvme = { path = "../aero-devices-nvme" }
aero-interrupts = { path = "../aero-interrupts" }
aero-net-e1000 = { path = "../aero-net-e1000" }
aero-platform = { path = "../platform" }
aero-pc-constants = { path = "../aero-pc-constants" }
aero-storage = { path = "../aero-storage" }
aero-virtio = { path = "../aero-virtio", default-features = false }
firmware = { path = "../firmware" }
memory = { path = "../memory" }

[dev-dependencies]
aero-io-snapshot = { path = "../aero-io-snapshot" }
aero-snapshot = { path = "../aero-snapshot", features = ["io-snapshot"] }
aero-usb = { path = "../aero-usb" }

[[test]]
name = "pc_platform_hda"
path = "tests/pc_platform_hda.rs"
required-features = ["hda"]

[[test]]
name = "pc_platform_pci_mmio_router"
path = "tests/pc_platform_pci_mmio_router.rs"
required-features = ["hda"]
