[package]
name = "aero-devices-gpu"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
aero-devices = { path = "../devices" }
aero-protocol = { path = "../../emulator/protocol" }
memory = { path = "../memory" }

[dev-dependencies]
