[package]
name = "aero-net-e1000"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
path = "src/lib.rs"

[features]
default = []
io-snapshot = ["dep:aero-io-snapshot"]

[dependencies]
aero-io-snapshot = { path = "../aero-io-snapshot", optional = true }
memory = { path = "../memory" }
nt-packetlib = { path = "../nt-packetlib" }

[dev-dependencies]
aero-io-snapshot = { path = "../aero-io-snapshot" }
