[package]
name = "memory-fuzz"
version = "0.0.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[package.metadata]
cargo-fuzz = true

[dependencies]
arbitrary = { version = "1", features = ["derive"] }
libfuzzer-sys = "0.4"

[dependencies.memory]
path = "../crates/memory"

[dependencies.aero-snapshot]
path = "../crates/aero-snapshot"

[dependencies.aero-io-snapshot]
path = "../crates/aero-io-snapshot"

[dependencies.aero-devices-storage]
path = "../crates/aero-devices-storage"

[dependencies.aero-devices]
path = "../crates/devices"
package = "devices"

[dependencies.aero-storage]
path = "../crates/aero-storage"

[dependencies.aero-http-range]
path = "../crates/aero-http-range"

[dependencies.aero-gpu]
path = "../crates/aero-gpu"

[dependencies.aero-protocol]
path = "../emulator/protocol"

[[bin]]
name = "fuzz_mmu_translate"
path = "fuzz_targets/fuzz_mmu_translate.rs"
test = false
doc = false

[[bin]]
name = "fuzz_bus_rw"
path = "fuzz_targets/fuzz_bus_rw.rs"
test = false
doc = false

[[bin]]
name = "fuzz_snapshot_decode"
path = "fuzz_targets/fuzz_snapshot_decode.rs"
test = false
doc = false

[[bin]]
name = "fuzz_ahci"
path = "fuzz_targets/fuzz_ahci.rs"
test = false
doc = false

[[bin]]
name = "fuzz_ide"
path = "fuzz_targets/fuzz_ide.rs"
test = false
doc = false

[[bin]]
name = "fuzz_ahci_command"
path = "fuzz_targets/fuzz_ahci_command.rs"
test = false
doc = false

[[bin]]
name = "fuzz_ide_busmaster"
path = "fuzz_targets/fuzz_ide_busmaster.rs"
test = false
doc = false

[[bin]]
name = "fuzz_http_range"
path = "fuzz_targets/fuzz_http_range.rs"
test = false
doc = false

[[bin]]
name = "fuzz_atapi"
path = "fuzz_targets/fuzz_atapi.rs"
test = false
doc = false

[[bin]]
name = "fuzz_piix3_ide_pci"
path = "fuzz_targets/fuzz_piix3_ide_pci.rs"
test = false
doc = false

[[bin]]
name = "fuzz_aero_storage_sparse_open"
path = "fuzz_targets/fuzz_aero_storage_sparse_open.rs"
test = false
doc = false

[[bin]]
name = "fuzz_aerogpu_parse"
path = "fuzz_targets/fuzz_aerogpu_parse.rs"
test = false
doc = false

[[bin]]
name = "fuzz_aerosparse_open"
path = "fuzz_targets/fuzz_aerosparse_open.rs"
test = false
doc = false
