[package]
name = "bcd_patch"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
regf = "0.1.0"
uuid = { version = "1", features = ["std"] }

[dev-dependencies]
assert_cmd = "2"
predicates = "3"
tempfile = "3"
