[package]
name = "emulator"
version = "0.1.0"
edition = "2021"

[dependencies]
memory = { path = "../memory" }

[dev-dependencies]
image = { version = "0.25.5", default-features = false, features = ["png"] }
