[package]
name = "emulator"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
[features]
default = []
net-trace = []
# Enable verbose debug logging from the user-space network stack.
net_log = []
sinc-resampler = []

[dependencies]
aero-devices = { path = "../devices" }
aero-io-snapshot = { path = "../aero-io-snapshot" }
aero-platform = { path = "../platform" }
aero-storage = { path = "../aero-storage" }
font8x8 = "0.3"
memory = { path = "../memory" }
aero-net-e1000 = { path = "../aero-net-e1000" }
nt-packetlib = { path = "../nt-packetlib" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"

[dev-dependencies]
anyhow = "1"
image = { version = "0.25.5", default-features = false, features = ["png", "pnm"] }
tempfile = "3"
aero-bios = { path = "../aero-bios" }
criterion = { version = "0.5.1", default-features = false, features = ["cargo_bench_support"] }
proptest = "1.4"
firmware = { path = "../firmware" }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
tokio = { version = "1", features = ["fs", "io-util", "macros", "net", "process", "rt-multi-thread", "sync", "time"] }

[[test]]
name = "boot_basic"
path = "../../tests/boot/basic_boot.rs"

[[test]]
name = "boot_sector"
path = "../../tests/boot_sector.rs"

[[test]]
name = "freedos_boot"
path = "../../tests/freedos_boot.rs"

[[test]]
name = "windows7_boot"
path = "../../tests/windows7_boot.rs"

[[bench]]
name = "dsp"
harness = false

[[bench]]
name = "storage_sequential"
harness = false
