[package]
name = "emulator"
version = "0.1.0"
edition = "2021"

[features]
default = []
net-trace = []

[dependencies]
memory = { path = "../memory" }
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10"
thiserror = "1"
tokio = { version = "1", features = ["macros", "rt-multi-thread", "sync", "time"] }
tokio-util = "0.7"

[dev-dependencies]
image = { version = "0.25.5", default-features = false, features = ["png"] }
aero-bios = { path = "../aero-bios" }
hyper = { version = "0.14", features = ["server", "http1", "tcp"] }

[[test]]
name = "boot_basic"
path = "../../tests/boot/basic_boot.rs"
