[package]
name = "emulator"
version = "0.1.0"
edition = "2021"

[features]
default = []
net-trace = []

[dependencies]
memory = { path = "../memory" }

[dev-dependencies]
image = { version = "0.25.5", default-features = false, features = ["png"] }
aero-bios = { path = "../aero-bios" }

[[test]]
name = "boot_basic"
path = "../../tests/boot/basic_boot.rs"
