[package]
name = "aero-gpu-utils"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]

[dev-dependencies]
wasm-bindgen-test = "0.3"
