[package]
name = "aero-devices-nvme"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "nvme_vs_ahci"
harness = false

