[package]
name = "aero-d3d9"
version = "0.1.0"
edition = "2021"

[dependencies]
blake3 = "1.5.0"
thiserror = "2.0.9"

[dev-dependencies]
naga = { version = "24.0.0", default-features = false, features = ["wgsl-in"] }
pretty_assertions = "1.4.1"

